{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            // 浏览器
            "last 2 versions",
            "ie >= 10"
          ],
          "node": "current" // node
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-proposal-export-default-from",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                // 浏览器
                "last 2 versions",
                "ie >= 10"
              ],
              "node": "current" // node
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".less", ".sass"]
          }
        ]
      ]
    }
  }
}
